Web References/localhost/DataTransferProc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataTransferProc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3190/DataTransferProc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3190/DataTransferProc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3190/DataTransferProc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestAndroid" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataTransferProc_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetFestivalData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFestivalData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetFestivalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFestivalDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetEventData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetEventData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetCountiesData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountiesData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetCountiesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountiesDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetTownData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTownData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetTownData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTownDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetFestTypeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFestTypeData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetFestTypeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFestTypeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetEventTypeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypeData" />
  </wsdl:message>
  <wsdl:message name="IDataTransferProc_GetEventTypeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataTransferProc">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetData" message="tns:IDataTransferProc_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetDataResponse" message="tns:IDataTransferProc_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetDataUsingDataContract" message="tns:IDataTransferProc_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetDataUsingDataContractResponse" message="tns:IDataTransferProc_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFestivalData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetFestivalData" message="tns:IDataTransferProc_GetFestivalData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetFestivalDataResponse" message="tns:IDataTransferProc_GetFestivalData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetEventData" message="tns:IDataTransferProc_GetEventData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetEventDataResponse" message="tns:IDataTransferProc_GetEventData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountiesData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetCountiesData" message="tns:IDataTransferProc_GetCountiesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetCountiesDataResponse" message="tns:IDataTransferProc_GetCountiesData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTownData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetTownData" message="tns:IDataTransferProc_GetTownData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetTownDataResponse" message="tns:IDataTransferProc_GetTownData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFestTypeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetFestTypeData" message="tns:IDataTransferProc_GetFestTypeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetFestTypeDataResponse" message="tns:IDataTransferProc_GetFestTypeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventTypeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransferProc/GetEventTypeData" message="tns:IDataTransferProc_GetEventTypeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransferProc/GetEventTypeDataResponse" message="tns:IDataTransferProc_GetEventTypeData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataTransferProc" type="tns:IDataTransferProc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFestivalData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetFestivalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetEventData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountiesData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetCountiesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTownData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetTownData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFestTypeData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetFestTypeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventTypeData">
      <soap:operation soapAction="http://tempuri.org/IDataTransferProc/GetEventTypeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataTransferProc">
    <wsdl:port name="BasicHttpBinding_IDataTransferProc" binding="tns:BasicHttpBinding_IDataTransferProc">
      <soap:address location="http://localhost:3190/DataTransferProc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>