Web References/localhost/DataTransferProc0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestAndroid" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestAndroid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Festivalwrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountyList" nillable="true" type="tns:ArrayOfCountyVM" />
      <xs:element minOccurs="0" name="EventList" nillable="true" type="tns:ArrayOfEventsVM" />
      <xs:element minOccurs="0" name="EventTypeList" nillable="true" type="tns:ArrayOfEventTypeVM" />
      <xs:element minOccurs="0" name="FestivalList" nillable="true" type="tns:ArrayOfFestivalVM" />
      <xs:element minOccurs="0" name="FestivalTypeList" nillable="true" type="tns:ArrayOfFestivalTypeVM" />
      <xs:element minOccurs="0" name="TownList" nillable="true" type="tns:ArrayOfTownVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Festivalwrapper" nillable="true" type="tns:Festivalwrapper" />
  <xs:complexType name="ArrayOfCountyVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountyVM" nillable="true" type="tns:CountyVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountyVM" nillable="true" type="tns:ArrayOfCountyVM" />
  <xs:complexType name="CountyVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountyVM" nillable="true" type="tns:CountyVM" />
  <xs:complexType name="ArrayOfEventsVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventsVM" nillable="true" type="tns:EventsVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventsVM" nillable="true" type="tns:ArrayOfEventsVM" />
  <xs:complexType name="EventsVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="EType" nillable="true" type="tns:EventTypeVM" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventsDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FestivalID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventsVM" nillable="true" type="tns:EventsVM" />
  <xs:complexType name="EventTypeVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="EType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventTypeVM" nillable="true" type="tns:EventTypeVM" />
  <xs:complexType name="ArrayOfEventTypeVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventTypeVM" nillable="true" type="tns:EventTypeVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventTypeVM" nillable="true" type="tns:ArrayOfEventTypeVM" />
  <xs:complexType name="ArrayOfFestivalVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FestivalVM" nillable="true" type="tns:FestivalVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFestivalVM" nillable="true" type="tns:ArrayOfFestivalVM" />
  <xs:complexType name="FestivalVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Events" nillable="true" type="tns:ArrayOfEventsVM" />
      <xs:element minOccurs="0" name="FType" nillable="true" type="tns:FestivalTypeVM" />
      <xs:element minOccurs="0" name="FestivalCounty" nillable="true" type="tns:CountyVM" />
      <xs:element minOccurs="0" name="FestivalId" type="xs:int" />
      <xs:element minOccurs="0" name="FestivalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FestivalTown" nillable="true" type="tns:TownVM" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FestivalVM" nillable="true" type="tns:FestivalVM" />
  <xs:complexType name="FestivalTypeVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="FType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FestivalTypeVM" nillable="true" type="tns:FestivalTypeVM" />
  <xs:complexType name="TownVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TownVM" nillable="true" type="tns:TownVM" />
  <xs:complexType name="ArrayOfFestivalTypeVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FestivalTypeVM" nillable="true" type="tns:FestivalTypeVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFestivalTypeVM" nillable="true" type="tns:ArrayOfFestivalTypeVM" />
  <xs:complexType name="ArrayOfTownVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TownVM" nillable="true" type="tns:TownVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTownVM" nillable="true" type="tns:ArrayOfTownVM" />
</xs:schema>