Web References/localhost/DataTransferProc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3190/DataTransferProc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestAndroid" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestivalData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestivalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetFestivalDataResult" nillable="true" type="q3:Festivalwrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetEventDataResult" nillable="true" type="q4:Festivalwrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountiesData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountiesDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetCountiesDataResult" nillable="true" type="q5:Festivalwrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetTownDataResult" nillable="true" type="q6:Festivalwrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestTypeData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFestTypeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetFestTypeDataResult" nillable="true" type="q7:Festivalwrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventTypeData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventTypeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TestAndroid" minOccurs="0" name="GetEventTypeDataResult" nillable="true" type="q8:Festivalwrapper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>